<!-- Footer Section -->
<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <!-- About Us Column -->
        <div class="col-lg-4 col-md-6 mb-4">
          <h5 class="text-uppercase">About Us</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
          </p>
        </div>
  
        <!-- Quick Links Column -->
        <div class="col-lg-4 col-md-6 mb-4">
          <h5 class="text-uppercase">Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Home</a></li>
            <li><a href="#" class="text-white">Services</a></li>
            <li><a href="#" class="text-white">Subscribe</a></li>
            <li><a href="#" class="text-white">Contact</a></li>
          </ul>
        </div>
  
        <!-- Social Media Column -->
        <div class="col-lg-4 col-md-12 mb-4">
          <h5 class="text-uppercase">Follow Us</h5>
          <ul class="list-unstyled">
            <li>
              <a href="https://facebook.com" class="text-white me-3" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a>
            </li>
            <li>
              <a href="https://twitter.com" class="text-white me-3" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
            </li>
            <li>
              <a href="https://instagram.com" class="text-white me-3" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
            </li>
            <li>
              <a href="https://linkedin.com" class="text-white me-3" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
            </li>
          </ul>
        </div>
      </div>
  
      <!-- Footer Bottom Section -->
      <div class="text-center py-3 mt-4">
        <p>&copy; 2024 My Website. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
  