<!-- Responsive Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-custom">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/images/logo.jpg" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': isNavbarOpen }" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/subscribe" routerLinkActive="active">Subscribe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-me" routerLinkActive="active">About Me</a>
        </li>
      </ul>
    </div>
  </nav>
  